---
version: 2
interactions:
- id: 0
  request:
    host: api.github.com
    headers:
    url: https://api.github.com/repos/yudai/gotty/releases/tags/v0.0.12
    method: GET
  response:
    body: "{\"url\":\"https://api.github.com/repos/yudai/gotty/releases/1977565\",\"assets_url\":\"https://api.github.com/repos/yudai/gotty/releases/1977565/assets\",\"upload_url\":\"https://uploads.github.com/repos/yudai/gotty/releases/1977565/assets{?name,label}\",\"html_url\":\"https://github.com/yudai/gotty/releases/tag/v0.0.12\",\"id\":1977565,\"author\":{\"login\":\"yudai\",\"id\":33192,\"node_id\":\"MDQ6VXNlcjMzMTky\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/33192?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/yudai\",\"html_url\":\"https://github.com/yudai\",\"followers_url\":\"https://api.github.com/users/yudai/followers\",\"following_url\":\"https://api.github.com/users/yudai/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/yudai/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/yudai/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/yudai/subscriptions\",\"organizations_url\":\"https://api.github.com/users/yudai/orgs\",\"repos_url\":\"https://api.github.com/users/yudai/repos\",\"events_url\":\"https://api.github.com/users/yudai/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/yudai/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"node_id\":\"MDc6UmVsZWFzZTE5Nzc1NjU=\",\"tag_name\":\"v0.0.12\",\"target_commitish\":\"master\",\"name\":\"v0.0.12\",\"draft\":false,\"immutable\":false,\"prerelease\":false,\"created_at\":\"2015-10-18T03:08:11Z\",\"updated_at\":\"2015-10-18T03:12:52Z\",\"published_at\":\"2015-10-18T03:11:42Z\",\"assets\":[{\"url\":\"https://api.github.com/repos/yudai/gotty/releases/assets/953148\",\"id\":953148,\"node_id\":\"MDEyOlJlbGVhc2VBc3NldDk1MzE0OA==\",\"name\":\"gotty_darwin_386.tar.gz\",\"label\":\"\",\"uploader\":{\"login\":\"yudai\",\"id\":33192,\"node_id\":\"MDQ6VXNlcjMzMTky\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/33192?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/yudai\",\"html_url\":\"https://github.com/yudai\",\"followers_url\":\"https://api.github.com/users/yudai/followers\",\"following_url\":\"https://api.github.com/users/yudai/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/yudai/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/yudai/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/yudai/subscriptions\",\"organizations_url\":\"https://api.github.com/users/yudai/orgs\",\"repos_url\":\"https://api.github.com/users/yudai/repos\",\"events_url\":\"https://api.github.com/users/yudai/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/yudai/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"content_type\":\"application/gzip\",\"state\":\"uploaded\",\"size\":2530029,\"digest\":null,\"download_count\":226,\"created_at\":\"2015-10-18T03:11:43Z\",\"updated_at\":\"2015-10-18T03:11:43Z\",\"browser_download_url\":\"https://github.com/yudai/gotty/releases/download/v0.0.12/gotty_darwin_386.tar.gz\"},{\"url\":\"https://api.github.com/repos/yudai/gotty/releases/assets/953151\",\"id\":953151,\"node_id\":\"MDEyOlJlbGVhc2VBc3NldDk1MzE1MQ==\",\"name\":\"gotty_darwin_amd64.tar.gz\",\"label\":\"\",\"uploader\":{\"login\":\"yudai\",\"id\":33192,\"node_id\":\"MDQ6VXNlcjMzMTky\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/33192?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/yudai\",\"h[...]
