---
version: 2
interactions:
- id: 0
  request:
    host: api.github.com
    headers:
    url: https://api.github.com/repos/protocolbuffers/protobuf/releases/tags/v33.1
    method: GET
  response:
    body: "{\"url\":\"https://api.github.com/repos/protocolbuffers/protobuf/releases/261907677\",\"assets_url\":\"https://api.github.com/repos/protocolbuffers/protobuf/releases/261907677/assets\",\"upload_url\":\"https://uploads.github.com/repos/protocolbuffers/protobuf/releases/261907677/assets{?name,label}\",\"html_url\":\"https://github.com/protocolbuffers/protobuf/releases/tag/v33.1\",\"id\":261907677,\"author\":{\"login\":\"zhangskz\",\"id\":89936743,\"node_id\":\"MDQ6VXNlcjg5OTM2NzQz\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/89936743?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/zhangskz\",\"html_url\":\"https://github.com/zhangskz\",\"followers_url\":\"https://api.github.com/users/zhangskz/followers\",\"following_url\":\"https://api.github.com/users/zhangskz/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/zhangskz/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/zhangskz/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/zhangskz/subscriptions\",\"organizations_url\":\"https://api.github.com/users/zhangskz/orgs\",\"repos_url\":\"https://api.github.com/users/zhangskz/repos\",\"events_url\":\"https://api.github.com/users/zhangskz/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/zhangskz/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"node_id\":\"RE_kwDOAWRolM4PnGTd\",\"tag_name\":\"v33.1\",\"target_commitish\":\"main\",\"name\":\"Protocol Buffers v33.1\",\"draft\":false,\"immutable\":false,\"prerelease\":false,\"created_at\":\"2025-11-12T21:10:54Z\",\"updated_at\":\"2025-11-12T22:00:49Z\",\"published_at\":\"2025-11-12T22:00:49Z\",\"assets\":[{\"url\":\"https://api.github.com/repos/protocolbuffers/protobuf/releases/assets/315689120\",\"id\":315689120,\"node_id\":\"RA_kwDOAWRolM4S0Qig\",\"name\":\"protobuf-33.1.tar.gz\",\"label\":\"\",\"uploader\":{\"login\":\"zhangskz\",\"id\":89936743,\"node_id\":\"MDQ6VXNlcjg5OTM2NzQz\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/89936743?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/zhangskz\",\"html_url\":\"https://github.com/zhangskz\",\"followers_url\":\"https://api.github.com/users/zhangskz/followers\",\"following_url\":\"https://api.github.com/users/zhangskz/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/zhangskz/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/zhangskz/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/zhangskz/subscriptions\",\"organizations_url\":\"https://api.github.com/users/zhangskz/orgs\",\"repos_url\":\"https://api.github.com/users/zhangskz/repos\",\"events_url\":\"https://api.github.com/users/zhangskz/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/zhangskz/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"content_type\":\"application/x-gtar\",\"state\":\"uploaded\",\"size\":6865436,\"digest\":\"sha256:fda132cb0c86400381c0af1fe98bd0f775cb566cb247cdcc105e344e00acc30e\",\"download_count\":791705,\"created_at\":\"2025-11-12T22:00:14Z\",\"updated_at\":\"2025-11-12T22:00:14Z\",\"browser_download_url\":\"https://github.com/protocolbuffers/protobuf/releases/download/v33.1/protobuf-33.1.tar.gz\"},{\"url\":\"https://api.github.com/repos/protocolbuffers/protobuf/releases/assets/315689119\",\"id\":315689119,\"node_id\":\"RA_kwDOAWRolM4S0Qif\",\"name\":\"protobuf-33.1.zip\",\"label\":\"\",\"uploader\":{\"login\":\"zhangskz\",\"id\":89936743,\"node_id\":\"MDQ6VXNlcjg5OTM2NzQz\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/89936743?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.co[...]
