---
version: 2
interactions:
- id: 0
  request:
    host: api.github.com
    headers:
    url: https://api.github.com/repos/simeji/jid/releases/tags/v0.7.6
    method: GET
  response:
    body: "{\"url\":\"https://api.github.com/repos/simeji/jid/releases/16462023\",\"assets_url\":\"https://api.github.com/repos/simeji/jid/releases/16462023/assets\",\"upload_url\":\"https://uploads.github.com/repos/simeji/jid/releases/16462023/assets{?name,label}\",\"html_url\":\"https://github.com/simeji/jid/releases/tag/v0.7.6\",\"id\":16462023,\"author\":{\"login\":\"simeji\",\"id\":368024,\"node_id\":\"MDQ6VXNlcjM2ODAyNA==\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/368024?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/simeji\",\"html_url\":\"https://github.com/simeji\",\"followers_url\":\"https://api.github.com/users/simeji/followers\",\"following_url\":\"https://api.github.com/users/simeji/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/simeji/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/simeji/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/simeji/subscriptions\",\"organizations_url\":\"https://api.github.com/users/simeji/orgs\",\"repos_url\":\"https://api.github.com/users/simeji/repos\",\"events_url\":\"https://api.github.com/users/simeji/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/simeji/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"node_id\":\"MDc6UmVsZWFzZTE2NDYyMDIz\",\"tag_name\":\"v0.7.6\",\"target_commitish\":\"master\",\"name\":\"v0.7.6\",\"draft\":false,\"immutable\":false,\"prerelease\":false,\"created_at\":\"2019-03-31T19:19:17Z\",\"updated_at\":\"2019-03-31T19:21:37Z\",\"published_at\":\"2019-03-31T19:21:37Z\",\"assets\":[{\"url\":\"https://api.github.com/repos/simeji/jid/releases/assets/11823238\",\"id\":11823238,\"node_id\":\"MDEyOlJlbGVhc2VBc3NldDExODIzMjM4\",\"name\":\"checksums.txt\",\"label\":\"\",\"uploader\":{\"login\":\"simeji\",\"id\":368024,\"node_id\":\"MDQ6VXNlcjM2ODAyNA==\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/368024?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/simeji\",\"html_url\":\"https://github.com/simeji\",\"followers_url\":\"https://api.github.com/users/simeji/followers\",\"following_url\":\"https://api.github.com/users/simeji/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/simeji/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/simeji/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/simeji/subscriptions\",\"organizations_url\":\"https://api.github.com/users/simeji/orgs\",\"repos_url\":\"https://api.github.com/users/simeji/repos\",\"events_url\":\"https://api.github.com/users/simeji/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/simeji/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"content_type\":\"text/plain; charset=utf-8\",\"state\":\"uploaded\",\"size\":1122,\"digest\":null,\"download_count\":795,\"created_at\":\"2019-03-31T19:21:37Z\",\"updated_at\":\"2019-03-31T19:21:37Z\",\"browser_download_url\":\"https://github.com/simeji/jid/releases/download/v0.7.6/checksums.txt\"},{\"url\":\"https://api.github.com/repos/simeji/jid/releases/assets/11823247\",\"id\":11823247,\"node_id\":\"MDEyOlJlbGVhc2VBc3NldDExODIzMjQ3\",\"name\":\"jid_darwin_386.zip\",\"label\":\"\",\"uploader\":{\"login\":\"simeji\",\"id\":368024,\"node_id\":\"MDQ6VXNlcjM2ODAyNA==\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/368024?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/simeji\",\"html_url\[...]
