---
version: 2
interactions:
- id: 0
  request:
    host: api.github.com
    headers:
    url: https://api.github.com/repos/yt-dlp/yt-dlp/releases/tags/2025.09.05
    method: GET
  response:
    body: "{\"url\":\"https://api.github.com/repos/yt-dlp/yt-dlp/releases/245206804\",\"assets_url\":\"https://api.github.com/repos/yt-dlp/yt-dlp/releases/245206804/assets\",\"upload_url\":\"https://uploads.github.com/repos/yt-dlp/yt-dlp/releases/245206804/assets{?name,label}\",\"html_url\":\"https://github.com/yt-dlp/yt-dlp/releases/tag/2025.09.05\",\"id\":245206804,\"author\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/github-actions%5Bbot%5D\",\"html_url\":\"https://github.com/apps/github-actions\",\"followers_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/followers\",\"following_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions\",\"organizations_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/orgs\",\"repos_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/repos\",\"events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/received_events\",\"type\":\"Bot\",\"user_view_type\":\"public\",\"site_admin\":false},\"node_id\":\"RE_kwDOElBrLc4OnY8U\",\"tag_name\":\"2025.09.05\",\"target_commitish\":\"7c27965ff6495f9cb8774a0264bc77b49de57207\",\"name\":\"yt-dlp 2025.09.05\",\"draft\":false,\"immutable\":false,\"prerelease\":false,\"created_at\":\"2025-09-05T22:46:00Z\",\"updated_at\":\"2025-09-05T23:06:02Z\",\"published_at\":\"2025-09-05T23:06:02Z\",\"assets\":[{\"url\":\"https://api.github.com/repos/yt-dlp/yt-dlp/releases/assets/290171293\",\"id\":290171293,\"node_id\":\"RA_kwDOElBrLc4RS6md\",\"name\":\"SHA2-256SUMS\",\"label\":\"\",\"uploader\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/github-actions%5Bbot%5D\",\"html_url\":\"https://github.com/apps/github-actions\",\"followers_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/followers\",\"following_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions\",\"organizations_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/orgs\",\"repos_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/repos\",\"events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/received_events\",\"type\":\"Bot\",\"user_view_type\":\"public\",\"site_admin\":false},\"content_type\":\"application/octet-stream\",\"state\":\"uploaded\",\"size\":1595,\"digest\":\"sha256:5fc8ecb8de1e891c3c2c9404619cb545f0a10ce10fbe2f6023d9eef42e458db3\",\"download_count\":484081,\"created_at\":\"2025-09-05T23:05:54Z\",\"updated_at\":\"2025-09-05T23:05:54Z\",\"browser_download_url\":\"https://github.com/yt-dlp/yt-dlp/releases/download/2025.09.05/SHA2-256SUMS\"},{\"url\":\"https://api.github.com/repos/yt-dlp/yt-dlp/releases/assets/290171292\",\"id\":290171292,\"node_id\":\"RA_kwDOElBrLc4RS6mc\",\"name\":\"SHA2-256SUMS.sig\",\"label\":\"\",\"uploader\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/github-ac[...]
